@page "/Scale-History"
@using KTF.Shared.Models
@using DevExtreme.AspNet.Mvc
@model KTF.Features.Scale.Pages.ScaleHistoryModel

<h2>Lịch sử</h2>

@(Html.DevExtreme().DataGrid<ScaleHistory>()
    .ShowBorders(true)
    .DataSource(d => d.Mvc()
            .Controller("ScaleHistory")
            .LoadAction("Get")
            .InsertAction("Post")
            .UpdateAction("Put")
            .DeleteAction("Delete")
            .Key("Id"))
    .RemoteOperations(o=>{
        o.Filtering(true);
        o.Grouping(true);
        o.Paging(true);
        o.Sorting(true);
        o.GroupPaging(true);
    })
    .Editing(e => e.Mode(GridEditMode.Popup)
        .AllowUpdating(false)
        .AllowAdding(false)
        .AllowDeleting(true)
        .Popup(p => p
            .Title($"{nameof(ScaleHistory)} Info")
            .ShowTitle(true)
            .Width(500)
            .Height(525)
        )
        .Form(f => f.Items(items => {
            items.AddSimpleFor(m => m.Line).ColSpan(2);
            items.AddSimpleFor(m => m.Model).ColSpan(2);
            items.AddSimpleFor(m => m.Code).ColSpan(2);
            items.AddSimpleFor(m => m.Quantity).ColSpan(2);
            items.AddSimpleFor(m => m.Weight).ColSpan(2);
        }))
        )
    .Columns(columns => {
        columns.AddFor(m => m.Line);
        columns.AddFor(m => m.Model);
        columns.AddFor(m => m.Code);
        columns.AddFor(m => m.Quantity);
        columns.AddFor(m => m.Weight).DataType(GridColumnDataType.Number).Format("#0.####");
        columns.AddFor(m => m.Created).SortOrder(SortOrder.Desc);
    })
    .SearchPanel(searchPanel => searchPanel
        .Visible(true)
        .Width(240)
        .Placeholder("Search...")
        .HighlightSearchText(true)
    )
    .AllowColumnResizing(true)
    .ColumnResizingMode(ColumnResizingMode.NextColumn)
    .Paging(p => p.PageSize(10))
    .FilterRow(f => f.Visible(false))
    .HeaderFilter(f => f.Visible(true))
    .GroupPanel(p => p.Visible(false))
    .Grouping(g => g.AutoExpandAll(false))
    .RemoteOperations(true)
)